@import url('https://fonts.googleapis.com/css?family=Montserrat');

h1 {
  font-family: 'Montserrat', sans-serif;
  margin-top: 10px;
}
.img-logo {
  height: 80px;
  width: 80px;
  object-fit: cover;
}
.img-office {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 10%;
}
.flip {
  transform: scaleX(-1);
}
.bordeaux-container {
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.moving-container {
  flex: 1 1 auto;
  position: relative;
  height: 200px;
  text-align: center;
}
.moving-right {
  position: absolute;
  top: 50px;
  left: 0px;
  transition: all 3s ease;
}
.moving-container:hover .moving-right {
  left: calc(100vw - 500px);
}
.moving-left {
  position: absolute;
  top: 100px;
  left: calc(100vw - 500px);
  transition: all 3s ease;
}
.moving-container:hover .moving-left {
  left: 0px;
}
