.wagon-bordeaux {
  padding: 10px;
  background: #EEE;
  border-radius: 10px;
}

.wagon-bordeaux h1 {
  font-family: 'Montserrat', sans-serif;
  margin: 0 0 20px 0;
  text-align: center;
}

.img-logo {
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.img-office {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 10%;
}

.wagon-container {
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.moving-container {
  flex: 1 1 auto;
  position: relative;
  height: 300px;
  margin: -150px;
}
.text-container {
  height: 40px;
  width: 400px;
  text-align: center;
}
.text-container h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  margin: 0px;
}
.text-container p {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  margin: 0px;
}

.moving-right {
  position: absolute;
  top: 0px;
  left: 0px;
  transition: left 3s ease 0.5s;
  text-align: center;
}
.text-moving {
  display: none;
}
.img-right {
  transform: scaleX(-1);
}
.wagon-bordeaux:hover .moving-right {
  left: calc(100vw - 535px);
}
.wagon-bordeaux:hover .text-moving {
  display: block;
}
.wagon-bordeaux:hover .img-right {
  transform: scaleX(1);
}
.moving-left {
  position: absolute;
  bottom: 0px;
  left: calc(100vw - 535px);
  transition: left 3s ease 0.5s;
  text-align: center;
}
.img-left {
  transform: scaleX(1);
}
.wagon-bordeaux:hover .moving-left {
  left: 0px;
}
.wagon-bordeaux:hover .img-left {
  transform: scaleX(-1);
}
